# Reporte Actividad 2. Extracción de datos


## Equipo de trabajo

1. Miriam Díaz Rodríguez
2. Marisol Flores Guerrero
3. Noé Salvador Hernández González
4. José Antonio Aviña Méndez 

Para el desarrollo del proyecto de analisis de datos se utilizó las herramientas en phyton, para almacenamiento de datos se cuenta con archivo cvs, y el uso de pandas. Se presentan  la descripción de de los 3 dataset.

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler
import sklearn.linear_model as skl_lm
from sklearn import preprocessing
from sklearn import neighbors
from sklearn.metrics import confusion_matrix, classification_report, precision_score
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
import statsmodels.formula.api as smf


sns.set(style="whitegrid", color_codes=True, font_scale=1.3)
%matplotlib inline

# Dataset 1. Diagnóstico de cancer de mama

## Fuente de información.

El DataSet se obtuvo del *UCI Machine Learning Repository* (https://archive.ics.uci.edu/ml/datasets/breast+cancer+wisconsin+(diagnostic). El formato de almacenamiento adoptado es *CSV*, el cuál es uno de los formatos más comunmente utilizados y apropiados para administrar DataSets.

## Extracción de datos con librería pandas.
Características del núcleo de las células y su respectivo diagnóstico

In [47]:
# cargar los datos
data = pd.read_csv('data.csv', index_col=0)

data.head(10)

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
id,,,,,,,,,,,,,,,,,,,,,
842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN
843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.08089,0.2087,...,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.1741,0.3985,0.12440,NaN
844359,M,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.07400,0.1794,...,27.66,153.20,1606.0,0.1442,0.2576,0.3784,0.1932,0.3063,0.08368,NaN
84458202,M,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.05985,0.2196,...,28.14,110.60,897.0,0.1654,0.3682,0.2678,0.1556,0.3196,0.11510,NaN
844981,M,13.00,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.09353,0.2350,...,30.73,106.20,739.3,0.1703,0.5401,0.5390,0.2060,0.4378,0.10720,NaN
84501001,M,12.46,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.08543,0.2030,...,40.68,97.65,711.4,0.1853,1.0580,1.1050,0.2210,0.4366,0.20750,NaN

In [48]:

data.shape

(569, 32)

## Atributos del dataset.
El dataset cuenta con 32 atributos , la primer columna es el identificador asignado al paciente, la segunda columna  muestra el diagnóstico con la definición ( M = maligno , B = Benigno). 

Para el resto de los  atributos se consideran  los datos de radio, textura, perimetro, area, smoothness, compactness, concavidad, puntos de concavidad, simetría, dimensión fractal.

In [49]:
data.dtypes

diagnosis                   object
radius_mean                float64
texture_mean               float64
perimeter_mean             float64
area_mean                  float64
smoothness_mean            float64
compactness_mean           float64
concavity_mean             float64
concave points_mean        float64
symmetry_mean              float64
fractal_dimension_mean     float64
radius_se                  float64
texture_se                 float64
perimeter_se               float64
area_se                    float64
smoothness_se              float64
compactness_se             float64
concavity_se               float64
concave points_se          float64
symmetry_se                float64
fractal_dimension_se       float64
radius_worst               float64
texture_worst              float64
perimeter_worst            float64
area_worst                 float64
smoothness_worst           float64
compactness_worst          float64
concavity_worst            float64
concave points_worst       float64
symmetry_worst             float64
fractal_dimension_worst    float64
Unnamed: 32                float64
dtype: object

## Estadísticas del dataset.

In [50]:
data.shape

(569, 32)

In [51]:
data.describe()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,0.0
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,0.062798,...,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946,NaN
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,0.007060,...,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061,NaN
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040,NaN
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,0.057700,...,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460,NaN
50%,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,0.061540,...,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040,NaN
75%,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,0.066120,...,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080,NaN
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,0.097440,...,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500,NaN

## Limpieza de datos

Para trabajar con el dataset se conservan solo  las variables que son categóricas y predictoras.

In [52]:
# eliminar columna con faltantes
data = data.drop('Unnamed: 32', axis=1)


# eliminar variables para conservar solo categórica y predictoras
cols = ['radius_worst', 
        'texture_worst', 
        'perimeter_worst', 
        'area_worst', 
        'smoothness_worst', 
        'compactness_worst', 
        'concavity_worst',
        'concave points_worst', 
        'symmetry_worst', 
        'fractal_dimension_worst']
data = data.drop(cols, axis=1)

cols = ['perimeter_mean',
        'perimeter_se', 
        'area_mean', 
        'area_se']
data = data.drop(cols, axis=1)

cols = ['concavity_mean',
        'concavity_se', 
        'concave points_mean', 
        'concave points_se']
data = data.drop(cols, axis=1)

print('Variables categórica y predictoras:')
data.columns

Variables categórica y predictoras:

Index(['diagnosis', 'radius_mean', 'texture_mean', 'smoothness_mean',
       'compactness_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'smoothness_se', 'compactness_se',
       'symmetry_se', 'fractal_dimension_se'],
      dtype='object')

In [53]:
data.head()

,diagnosis,radius_mean,texture_mean,smoothness_mean,compactness_mean,symmetry_mean,fractal_dimension_mean,radius_se,texture_se,smoothness_se,compactness_se,symmetry_se,fractal_dimension_se
id,,,,,,,,,,,,,
842302,M,17.99,10.38,0.11840,0.27760,0.2419,0.07871,1.0950,0.9053,0.006399,0.04904,0.03003,0.006193
842517,M,20.57,17.77,0.08474,0.07864,0.1812,0.05667,0.5435,0.7339,0.005225,0.01308,0.01389,0.003532
84300903,M,19.69,21.25,0.10960,0.15990,0.2069,0.05999,0.7456,0.7869,0.006150,0.04006,0.02250,0.004571
84348301,M,11.42,20.38,0.14250,0.28390,0.2597,0.09744,0.4956,1.1560,0.009110,0.07458,0.05963,0.009208
84358402,M,20.29,14.34,0.10030,0.13280,0.1809,0.05883,0.7572,0.7813,0.011490,0.02461,0.01756,0.005115

In [54]:
# Valores únicos    
for c in data.columns:
    print("Valores únicos[{0}]:".format(c), data[c].unique().size)

Valores únicos[diagnosis]: 2
Valores únicos[radius_mean]: 456
Valores únicos[texture_mean]: 479
Valores únicos[smoothness_mean]: 474
Valores únicos[compactness_mean]: 537
Valores únicos[symmetry_mean]: 432
Valores únicos[fractal_dimension_mean]: 499
Valores únicos[radius_se]: 540
Valores únicos[texture_se]: 519
Valores únicos[smoothness_se]: 547
Valores únicos[compactness_se]: 541
Valores únicos[symmetry_se]: 498
Valores únicos[fractal_dimension_se]: 545

## Almacenamiento

El dataset para su uso en el algoritmo de clasificación esta guardado en el archivo cvs etiquetado como data_clean.cvs.

In [55]:
data.to_csv ('data_clean.csv',index=False)

In [56]:
# cargar los datos
data_clean = pd.read_csv('data_clean.csv', index_col=0)

data_clean.head(10)

,radius_mean,texture_mean,smoothness_mean,compactness_mean,symmetry_mean,fractal_dimension_mean,radius_se,texture_se,smoothness_se,compactness_se,symmetry_se,fractal_dimension_se
diagnosis,,,,,,,,,,,,
M,17.99,10.38,0.11840,0.27760,0.2419,0.07871,1.0950,0.9053,0.006399,0.04904,0.03003,0.006193
M,20.57,17.77,0.08474,0.07864,0.1812,0.05667,0.5435,0.7339,0.005225,0.01308,0.01389,0.003532
M,19.69,21.25,0.10960,0.15990,0.2069,0.05999,0.7456,0.7869,0.006150,0.04006,0.02250,0.004571
M,11.42,20.38,0.14250,0.28390,0.2597,0.09744,0.4956,1.1560,0.009110,0.07458,0.05963,0.009208
M,20.29,14.34,0.10030,0.13280,0.1809,0.05883,0.7572,0.7813,0.011490,0.02461,0.01756,0.005115
M,12.45,15.70,0.12780,0.17000,0.2087,0.07613,0.3345,0.8902,0.007510,0.03345,0.02165,0.005082
M,18.25,19.98,0.09463,0.10900,0.1794,0.05742,0.4467,0.7732,0.004314,0.01382,0.01369,0.002179
M,13.71,20.83,0.11890,0.16450,0.2196,0.07451,0.5835,1.3770,0.008805,0.03029,0.01486,0.005412
M,13.00,21.82,0.12730,0.19320,0.2350,0.07389,0.3063,1.0020,0.005731,0.03502,0.02143,0.003749
M,12.46,24.04,0.11860,0.23960,0.2030,0.08243,0.2976,1.5990,0.007149,0.07217,0.01789,0.010080

# Dataset 2. Análisis de perfiles de clientes.

## Fuente de información.

El DataSet se obtuvo de la plataforma Kaggle. Debido al tamaño del data set se trabajo con el archivo cvs.

## Extracción de datos con librería pandas.

In [57]:
# cargar los datos
data2 = pd.read_csv('clientes.csv', index_col=0)

data2.head(10)

         Genero  Edad  Ingreso  Gasto  cluster
Cliente
1          Male    19       15     39      0.0
2          Male    21       15     81      0.0
3        Female    20       16      6      0.0
4        Female    23       16     77      1.0
5        Female    31       17     40      1.0
6        Female    22       17     76      2.0
7        Female    35       18      6      0.0
8        Female    23       18     94      2.0
9          Male    64       19      3      2.0
10       Female    30       19     72      1.0

In [58]:

data2.shape

(200, 5)

## Atributos del dataset.
Se cuenta con 5 atributos  mostrados a continuación.

In [59]:
data2.dtypes

Genero      object
Edad         int64
Ingreso      int64
Gasto        int64
cluster    float64
dtype: object

## Estadísticas del dataset.

In [60]:
data2.shape

(200, 5)

In [61]:
data2.describe()

             Edad     Ingreso       Gasto     cluster
count  200.000000  200.000000  200.000000  199.000000
mean    38.850000   60.560000   49.845000    1.105528
std     13.969007   26.264721   25.927246    1.404869
min     18.000000   15.000000    1.000000    0.000000
25%     28.750000   41.500000   33.500000    0.500000
50%     36.000000   61.500000   50.000000    1.000000
75%     49.000000   78.000000   72.250000    2.000000
max     70.000000  137.000000   99.000000   18.000000

## Limpieza de datos

Para trabajar con el dataset se eliminaron duplicados y se convirtieron los valores a enteros.

In [62]:

data2.drop_duplicates(inplace=True)
data2['Genero'] = data2['Genero'].astype('category').cat.codes

data2.columns

Index(['Genero', 'Edad', 'Ingreso', 'Gasto', 'cluster'], dtype='object')

In [63]:
data2.head()

         Genero  Edad  Ingreso  Gasto  cluster
Cliente
1             1    19       15     39      0.0
2             1    21       15     81      0.0
3             0    20       16      6      0.0
4             0    23       16     77      1.0
5             0    31       17     40      1.0

In [64]:
# Valores únicos    
for c in data2.columns:
    print("Valores únicos".format(c), c , ":", data2[c].unique().size)

Valores únicos Genero : 2
Valores únicos Edad : 51
Valores únicos Ingreso : 64
Valores únicos Gasto : 83
Valores únicos cluster : 5

## Almacenamiento

El dataset para su uso en el algoritmo de clusterización esta guardado en el archivo cvs etiquetado como clientes_clean.cvs.

In [65]:
data2.to_csv ('clientes_clean.csv',index=False)

In [66]:
# cargar los datos
data2_clean = pd.read_csv('clientes_clean.csv', index_col=0)

data2_clean.head(10)

        Edad  Ingreso  Gasto  cluster
Genero
1         19       15     39      0.0
1         21       15     81      0.0
0         20       16      6      0.0
0         23       16     77      1.0
0         31       17     40      1.0
0         22       17     76      2.0
0         35       18      6      0.0
0         23       18     94      2.0
1         64       19      3      2.0
0         30       19     72      1.0

# Dataset 3. Covid 19

## Fuente de información.

El DataSet para síntomas se obtuvo de la plataforma Kaggle para el algoritmo de análisis de clasificación y para estadísticos de la base de datos abiertos de jalisco  https://coronavirus.jalisco.gob.mx/bases-de-datos/ .

## Extracción de datos con librería pandas.
Características del núcleo de las células y su respectivo diagnóstico

In [67]:
# cargar los datos
data3 = pd.read_csv('covid_casos.csv', index_col=0)

data3.head(10)

,FEC_INI_SIN,EDAD,SEXO,TIPO_PACIENTE,RESULTADO_FINAL,CVE_Mun_Res,LABORATORIO,TIPOPRUEBA,ANIO
1,2022-01-04,38.0,FEMENINO,AMBULATORIO,DESCARTADO,39,U de G,ANTIGENO,2022
2,2022-01-05,35.0,MASCULINO,AMBULATORIO,DESCARTADO,98,U de G,ANTIGENO,2022
3,2022-01-04,54.0,MASCULINO,AMBULATORIO,CONFIRMADO,39,U de G,PCR,2022
4,2022-01-04,37.0,FEMENINO,AMBULATORIO,DESCARTADO,39,U de G,PCR,2022
5,2022-01-03,39.0,FEMENINO,AMBULATORIO,CONFIRMADO,120,U de G,PCR,2022
6,2022-01-03,24.0,FEMENINO,AMBULATORIO,CONFIRMADO,120,U de G,PCR,2022
7,2022-01-01,57.0,FEMENINO,AMBULATORIO,DESCARTADO,101,U de G,PCR,2022
8,2022-01-03,26.0,FEMENINO,AMBULATORIO,DESCARTADO,39,U de G,PCR,2022
9,2022-01-04,35.0,FEMENINO,AMBULATORIO,CONFIRMADO,39,U de G,PCR,2022
10,2022-01-03,43.0,MASCULINO,AMBULATORIO,CONFIRMADO,98,U de G,PCR,2022

In [68]:

data3.shape

(1047822, 9)

## Atributos del dataset.
Se cuenta con 5 atributos  mostrados a continuación.

In [69]:
data3.dtypes

FEC_INI_SIN         object
EDAD               float64
SEXO                object
TIPO_PACIENTE       object
RESULTADO_FINAL     object
CVE_Mun_Res          int64
LABORATORIO         object
TIPOPRUEBA          object
ANIO                 int64
dtype: object

## Estadísticas del dataset.

In [70]:
data3.shape

(1047822, 9)

In [71]:
data3.describe()

               EDAD   CVE_Mun_Res          ANIO
count  1.047819e+06  1.047822e+06  1.047822e+06
mean   3.859500e+01  2.514724e+02  2.022011e+03
std    1.728863e+01  3.407202e+02  1.062168e-01
min   -9.370000e+02  1.000000e+00  2.022000e+03
25%    2.600000e+01  3.900000e+01  2.022000e+03
50%    3.700000e+01  9.800000e+01  2.022000e+03
75%    5.000000e+01  1.200000e+02  2.022000e+03
max    1.220000e+02  9.990000e+02  2.023000e+03

In [72]:
# Valores únicos    
for c in data3.columns:
    print("Valores únicos".format(c), c, ":",  data3[c].unique().size)

Valores únicos FEC_INI_SIN : 391
Valores únicos EDAD : 120
Valores únicos SEXO : 3
Valores únicos TIPO_PACIENTE : 2
Valores únicos RESULTADO_FINAL : 3
Valores únicos CVE_Mun_Res : 127
Valores únicos LABORATORIO : 4
Valores únicos TIPOPRUEBA : 5
Valores únicos ANIO : 2

## Limpieza de datos

Para trabajar se convirtieron a enteros todos lo datos a excepción de la fecha.

In [73]:

data3['SEXO'] = data3['SEXO'].astype('category').cat.codes
data3['TIPO_PACIENTE'] = data3['TIPO_PACIENTE'].astype('category').cat.codes
data3['RESULTADO_FINAL'] = data3['RESULTADO_FINAL'].astype('category').cat.codes
data3['LABORATORIO'] = data3['LABORATORIO'].astype('category').cat.codes
data3['TIPOPRUEBA'] = data3['TIPOPRUEBA'].astype('category').cat.codes

data3.columns

Index(['FEC_INI_SIN', 'EDAD', 'SEXO', 'TIPO_PACIENTE', 'RESULTADO_FINAL',
       'CVE_Mun_Res', 'LABORATORIO', 'TIPOPRUEBA', 'ANIO'],
      dtype='object')

In [74]:
data3.head()

,FEC_INI_SIN,EDAD,SEXO,TIPO_PACIENTE,RESULTADO_FINAL,CVE_Mun_Res,LABORATORIO,TIPOPRUEBA,ANIO
1,2022-01-04,38.0,0,0,1,39,3,0,2022
2,2022-01-05,35.0,1,0,1,98,3,0,2022
3,2022-01-04,54.0,1,0,0,39,3,3,2022
4,2022-01-04,37.0,0,0,1,39,3,3,2022
5,2022-01-03,39.0,0,0,0,120,3,3,2022

In [75]:
# Valores únicos    
for c in data3.columns:
    print("Valores únicos".format(c), data3[c].unique().size)

Valores únicos 391
Valores únicos 120
Valores únicos 3
Valores únicos 2
Valores únicos 3
Valores únicos 127
Valores únicos 4
Valores únicos 5
Valores únicos 2

## Almacenamiento

El dataset para su uso en el algoritmo de clusterización esta guardado en el archivo cvs etiquetado como pruebas_clean.cvs.

In [76]:
data3.to_csv ('pruebas_clean.csv',index=False)

In [77]:
# cargar los datos
data3_clean = pd.read_csv('pruebas_clean.csv', index_col=0)

data3_clean.head(10)

,EDAD,SEXO,TIPO_PACIENTE,RESULTADO_FINAL,CVE_Mun_Res,LABORATORIO,TIPOPRUEBA,ANIO
FEC_INI_SIN,,,,,,,,
2022-01-04,38.0,0,0,1,39,3,0,2022
2022-01-05,35.0,1,0,1,98,3,0,2022
2022-01-04,54.0,1,0,0,39,3,3,2022
2022-01-04,37.0,0,0,1,39,3,3,2022
2022-01-03,39.0,0,0,0,120,3,3,2022
2022-01-03,24.0,0,0,0,120,3,3,2022
2022-01-01,57.0,0,0,1,101,3,3,2022
2022-01-03,26.0,0,0,1,39,3,3,2022
2022-01-04,35.0,0,0,0,39,3,3,2022
2022-01-03,43.0,1,0,0,98,3,3,2022

In [78]:
data3_clean.shape

(1047822, 8)

In [79]:
data3_clean.describe()

,EDAD,SEXO,TIPO_PACIENTE,RESULTADO_FINAL,CVE_Mun_Res,LABORATORIO,TIPOPRUEBA,ANIO
count,1.047819e+06,1.047822e+06,1.047822e+06,1.047822e+06,1.047822e+06,1.047822e+06,1.047822e+06,1.047822e+06
mean,3.859500e+01,4.563390e-01,1.504549e-02,7.319592e-01,2.514724e+02,1.114835e+00,4.199568e-01,2.022011e+03
std,1.728863e+01,4.983374e-01,1.217339e-01,4.607674e-01,3.407202e+02,5.561922e-01,1.055757e+00,1.062168e-01
min,-9.370000e+02,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-1.000000e+00,2.022000e+03
25%,2.600000e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.900000e+01,1.000000e+00,0.000000e+00,2.022000e+03
50%,3.700000e+01,0.000000e+00,0.000000e+00,1.000000e+00,9.800000e+01,1.000000e+00,0.000000e+00,2.022000e+03
75%,5.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,1.200000e+02,1.000000e+00,0.000000e+00,2.022000e+03
max,1.220000e+02,2.000000e+00,1.000000e+00,2.000000e+00,9.990000e+02,3.000000e+00,3.000000e+00,2.023000e+03

In [80]:
data3_clean.dtypes

EDAD               float64
SEXO                 int64
TIPO_PACIENTE        int64
RESULTADO_FINAL      int64
CVE_Mun_Res          int64
LABORATORIO          int64
TIPOPRUEBA           int64
ANIO                 int64
dtype: object